<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Lab 8</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Главная страница</a></li>
          <p></p>
          <h1></h1>
          <p>Фильмы</p>
          <li><a href="{% url 'film1' %}">Паразиты</a></li>
          <li><a href="{% url 'film2' %}">Поезд в Пусан</a></li>
          <li><a href="{% url 'film3' %}">Поезд в Пусан 2: Полуостров</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-9 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>