{% extends "base_generic.html" %}

{% block content %}
<h1 style="font-weight: 800;">Лабораторная работа №8</h1>

  <p><em>Цель лабораторной работы:</em> изучение возможностей создания прототипа веб-приложения с использованием фреймворка Django</p>

<h2>Фильмы</h2>

  <p>Все эти фильмы были представлены на Каннском кинофестивале</p>
  <ul>
    <li><strong>Паразиты</strong></li>
    <li><strong>Поезд в Пусан</strong></li>
    <li><strong>Поезд в Пусан 2: Полуостров</strong></li>
    <!-- <li><strong>Authors:</strong> {{ num_authors }}</li> -->
  </ul>

<h3>Автор</h3>

  <p>Рабцевич Ксения ИУ5-52Б</p>

{% endblock %}

