

{% extends "base_generic.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}
<h1 style="font-weight: 700;">Паразиты</h1>

<h2>Информация</h2>
{% load static %}
<img src="{% static 'images/Parazit.jpg' %}" alt="My image" class="format"/>

  <p></p>
  <p>О фильме:</p>
  <ul>
    <li><strong>Год: 2019</strong></li>
    <li><strong>Страна: Южная Корея</strong></li>
    <li><strong>Жанр: триллер, драма, комедия</strong></li>
    <li><strong>Рейтинг: 8.6</strong></li>
  </ul>
<p>Обычное корейское семейство Кимов жизнь не балует. Приходится жить в сыром грязном полуподвале,
  воровать интернет у соседей и перебиваться случайными подработками. Однажды друг сына семейства,
  уезжая на стажировку за границу, предлагает тому заменить его и поработать репетитором у старшеклассницы
  в богатой семье Пак. Подделав диплом о высшем образовании,
  парень отправляется в шикарный дизайнерский особняк и производит на хозяйку дома хорошее впечатление.
  Тут же ему в голову приходит необычный план по трудоустройству сестры.</p>

{% endblock %}